.Add-item {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.Add-item .title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: rgba(0, 128, 0, 0.365);
    background: linear-gradient(to right, #4d93f4c7 0%, rgba(0, 128, 0, 0.365) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.additem-form .form-field {
    position: relative;
    margin: 32px 0;
}

.additem-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #4d93f4c7;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.additem-form .input-text:focus+.label,
.additem-form .input-text.not-empty+.label {
    transform: translateY(-24px);
}

.additem-form .input-text:focus {
    outline: none;
}

.additem-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #4d93f4c7;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}

.additem-form .submit-btn {
    display: inline-block;
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;

}